
.viewmore a{
	color: #1c1c1c;
	text-decoration: none;
}

div .info{
	text-indent: 2em;
}
.mactive{
	color: #ecd291 !important;
}

.member{
	width: 145px;
	float: left;
	padding-right: 14px;
	padding-top: 40px;
	display:table-cell
}

.memberimg{
	width: 148px;
	padding-right: 14px;
	padding-bottom: 14px;
	float: left;
}

.membername{
	margin-right: auto;
	margin-left: auto;
	width: 80px;
	font-size: 18px;
}
#member_box ul {
	margin: 0px;
	list-style: none;
	overflow: hidden;
	padding-bottom: 80px;
}

.memberimg > div{
	width: 145px;
	height: 145px;
	position: absolute;
}







