.viewmore a{
	color: #1c1c1c;
	text-decoration: none;
}

.sidebar a{
	text-decoration: none;
	color: #1c1c1c;
	cursor: pointer;
}

div .info{
	text-indent: 2em;
}

div .newscontent{
	line-height: 24px;
}


.mactive{
	color: #ecd291 !important;
}
#newstitle{
	float: left;
	font-size: 30px;
	width: 225px;
	height: 120px;
}

#titlenews{
	font-size: 18px;
}

.news{
	height: auto;
	width: 940px;
}

#newsdash{
	margin-top: 40px;
}

.newsmenu{
	float: left;
	width: 225px;
	position:fixed;
}

.sidebar{
	width: 225px;
	padding-right: 25px;
}

.item {
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: rgb(173, 166, 166) 2px solid;
}

.item.last {
	border: none;
}

.numbar {
	float: left;
	padding-top: 5px;
	height: 30px;
	font-size: 12px;
}
.itemnum{
	float: left;
	margin: 5px;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	height: 15px;
}
.itemnumActive > a{
	color:white;	
}

.itemnum:hover{
	background-color: #cf6c45;
	color: #fff;
}

.itemnumActive{
	float: left;
	padding: 3px;
	background-color: #cf6c45;
	height: 15px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px;
	color: #fff;
}

.content{
	float: left;
	width: 690px;
	height: auto;
	margin-left: 250px;
	border-radius: 10px;
	background-color: #fafafa;
	margin-bottom: 100px;
}

.cnewstitle{
	font-size: 18px;
	height: 30px;
	padding-left: 15px;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}

.newscontent{
	height: auto;
	background-color: #fff;
	padding: 15px;
	font-size: 14px;
	color: #2c3e50;
}

.newstime{
	color: #dcdcdc;
	font-size: 14px;
	float: right;
	padding: 15px;
}