#calendar_form select {
    width: 50px;
}
#calendar_form table {
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    width: 100%;
	border-color: #CCCCCC;
	background: none repeat scroll 0 0 #F9F9F9;
}

#calendar_form th {
    background: none repeat scroll 0 0 #F1F1F1;
}
#calendar_form .urledit{
	width: 44px;
}
#admin_project_members {
	width: 100%;
	display: block;
	overflow: hidden;
}
/*#calendar_form .urladdr {
    width: 300px;
}
#calendar_form .urlname {
    width: 250px;
}*/
#url_1 > td{
	border-bottom:1px solid;
	border-top:1px solid;
	border-bottom-color: #DFDFDF;
    border-top-color: #FFFFFF;
}

#calendar_form table .botton {
    float: right;
    height: 20px;
    padding: 0;
    width: 20px;
}
#calendar_form .inputtext{
	width:100%;
}

/* admin page for projectd */
#admin_project_members > li {
	display: block;
	padding-right: 20px;
	float: left;
	margin-bottom: 2px;
}
.member_in_charge{
	background: #ec7455;
	color: white;
}
#username {
	width: 500px;
}
/* scoring system*/
#scoredetaildiv{
	width: 480px;
}
#score_descrp_select {
	width: 190px;
}
.score_detail {
	width: 70px;
}
.score_detail_descrp {
	width: 308px;
}
.bottomdirection {
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(163, 38, 38) rgb(163, 38, 38) transparent transparent;
	float: right;
}
.score_block {
	background: #dddddd;
}
.score_date {
	color: gray;
}